<p align="center">
  <strong><%= link_to 'New post', new_post_path %></strong>
</p>

<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <%= render partial: 'post', locals: { display_post: post } %>
          <p><%= link_to 'Show', post_path(post) %></p>
          <hr>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <h2>No news yet..</h2>
  </div>
<% end %>
