 <p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

 <p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>

 <p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<%= link_to 'To news page', posts_path %>
